    <div class="credits text-center">
        <p>
            <a href="https://github.com/imdhruv99/MEAN-Stack-UserAuthentication">MEAN</a>
        </p>
        <p>
            <a href="https://github.com/imdhruv99">Dhruv Prajapati</a>
        </p>
    </div>
</body>
</html>